<template>
  <b-container fluid id="about">
    <br>
    <h4>{{ msg }}</h4>
    <hr>
    <b-row>
      <b-col cols="3">
        <b-navbar v-b-scrollspy:scrollspy-nested class="flex-column">
          <b-navbar-brand href="#">Sección</b-navbar-brand>
          <b-nav pills class="flex-column">
            <b-nav-item href="#item-1">Nosotros</b-nav-item>
            <!--<b-nav-item href="#item-2">Item 2</b-nav-item>-->
          </b-nav>
        </b-navbar>
      </b-col>
      <b-col cols="9">
        <div id="scrollspy-nested" style="position:relative;height:350px;overflow-y:auto">
          <h4 id="item-1" style="">Nosotros</h4>
          <p>
            CONFUTURO LABORAL INTEGRAL S.A.S es una compañía dedicada a prestar servicios de calidad,
            con altos niveles de ética e idoneidad profesional en temas relacionados con la Medicina Laboral y el Derecho Laboral.
            Somos una firma comprometida con nuestros clientes y buscamos prestarles una asesoría integral y especializada. Contamos con  un equipo
            interdisciplinario de Médicos especialistas con experiencia en Juntas de Calificación de Invalidez y Abogados especialistas en Seguridad Social Integral,
            Seguridad y Salud en el Trabajo y con una amplia trayectoria en el Derecho Laboral, quienes se desempeñan con sujeción a los más rigurosos principios éticos y a los
            más altos estándares de excelencia profesional. Además contamos con un equipo administrativo, que constantemente está innovando a través la búsqueda de soluciones,
            mejores prácticas en el desarrollo de sus funciones, para que la experiencia de nuestros clientes sea cada día más agradable.

            Contamos con un pool de Médicos especialistas en Salud Ocupacional, Medicina del Trabajo y Medicina Laboral y Administradoras de Riesgos Laborales (ARL). con experiencia en Juntas de Calificación de Invalidez y Abogados especialistas en Seguridad Social Integral, Seguridad y Salud en el Trabajo y con una amplia trayectoria en el Derecho Laboral.
            La compañía ofrece el nuevo servicio de peritaje mediante el cual usted podrá tener conocimiento del resarcimiento de daño corporal y calculo actuarial del mismo.
          </p>
          <!-- <h5 id="item-2" style="">Item 2</h5> -->
          <!--<p>otro texto...</p>-->
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'About',
  data () {
    return {
      msg: 'Acerca de...'
    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style scoped>
#about {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
</style>
