<template>
  <b-container fluid id="contact">
    <br>
    <h4>{{ msg }}</h4>
    <hr>
    <b-card class="text-center">
      Diligencie el siguiente formulario, y en breve uno de nuestros representantes se pondrá en contacto con usted.
    </b-card>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-row>
        <b-col md="6">
          <b-form-group id="labelnombres"
                        label="Nombres:"
                        label-for="nombres">
            <b-form-input id="nombres"
                          type="text"
                          v-model="form.nombres"
                          required
                          placeholder="Ingrese sus nombres">
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group id="labelapellidos"
                        label="Apellidos:"
                        label-for="apellidos">
            <b-form-input id="apellidos"
                          type="text"
                          v-model="form.apellidos"
                          required
                          placeholder="Ingrese sus apellidos">
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="6">
          <b-form-group id="labeltelefono"
                        label="Telefono:"
                        label-for="telefono">
            <b-form-input id="telefono"
                          type="text"
                          v-model="form.telefono"
                          placeholder="Ingrese su telefono">
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group id="labelcelular"
                        label="Celular:"
                        label-for="celular">
            <b-form-input id="celular"
                          type="text"
                          v-model="form.celular"
                          required
                          placeholder="Ingres su celular">
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="6">
          <b-form-group id="labelemail"
                        label="Email:"
                        label-for="email"
                        description="Ingrese un correo electronico valido para respuesta">
            <b-form-input id="email"
                          type="email"
                          v-model="form.email"
                          required
                          placeholder="Ingrese su email">
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group id="labelciudad"
                        label="Ciudad:"
                        label-for="ciudad">
            <b-form-input id="ciudad"
                          type="text"
                          v-model="form.ciudad"
                          required
                          placeholder="Ingrese su ciudad">
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="6">
          <b-form-group id="labeltext"
                        label="Mensaje:"
                        label-for="text">
            <b-form-textarea id="text"
                            v-model="form.text"
                            placeholder="Ingrese su mensaje..."
                            :rows="6"
                            :max-rows="6">
            </b-form-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="6">
          <pre class="mt-3">{{ form.text }}</pre>
          <b-button type="submit" variant="primary">Enviar</b-button>
          <b-button type="reset" variant="danger">Resetear</b-button>
        </b-col>
      </b-row>
    </b-form>
    <div v-if="processing">
      <BlockUI :message="msg2" :html="html"></BlockUI>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Contacto',
  data () {
    return {
      form: {
        email: '',
        nombres: '',
        apellidos: '',
        telefono: '',
        celular: '',
        ciudad: '',
        text: ''
      },
      msg: '¿En qué podemos ayudarle?',
      text: '',
      show: true,
      processing: false,
      msg2: 'Procesando petición, esperar un momento...',
      html: '<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>',
      token: 'nVqN9TfnY62MjXJOw19vm2Gf__i6gPMl'
    }
  },
  computed: {

  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      var form = JSON.stringify(this.form)
      console.log(this.form.nombres + ' ' + this.form.apellidos)
      this.processing = true
      window.localStorage.setItem('_processing', this.processing)
      window.axios.post(`http://www.confuturolaboral.com/confuturolaboral/api/web/v1/contacts/contact?access-token=${this.token}`, {
        name: this.form.nombres + ' ' + form.apellidos,
        email: this.form.email,
        phone: this.form.telefono,
        mobile: this.form.celular,
        city: this.form.ciudad,
        subject: 'Envio de mensaje desde la página principal',
        body: this.form.text
      }).then(resultado => {
        window.toastr.success('Mensaje Enviado Satisfactoriamente', 'CONTACTO')
      }).catch(error => {
        console.log(error)
        window.toastr.error('Error al enviar el mensaje', 'CONTACTO')
      }).then(e => {
        this.processing = false
        window.localStorage.setItem('_processing', this.processing)
      })
    },
    onReset (evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.email = ''
      this.form.nombres = ''
      this.form.apellidos = ''
      this.form.telefono = ''
      this.form.celular = ''
      this.form.ciudad = ''
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => { this.show = true })
    }
  }
}
</script>

<style scope>
#contact {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
</style>
