<template>
  <b-container fluid id="FAQ">
    <br>
    <h4>{{ msg }}</h4>
    <hr>
    <div role="tablist">
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion1 variant="info">¿que es una pensión?</b-btn>
        </b-card-header>
        <b-collapse id="accordion1" visible accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              Es una prestación económica de carácter vitalicio que se paga a los ex trabajadores que han cotizado y
              cumplen con los requisitos de ley, es decir, edad y tiempo de servicio o semanas cotizadas, en el caso del
              Régimen de Prima Media con Prestación Definida, o también cuando se certifica ante una entidad calificadora
              un porcentaje de perdida de capacidad laboral igual o superior al 50 %. Su pago es mensual, no prescribe,
              no se puede renunciar al derecho de acceder a ella y al momento del fallecimiento se traslada a los sobrevivientes
              (conyugue e hijos menores de 18 años).
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion2 variant="info">¿cuáles son los tipos de pensiones existentes en colombia?</b-btn>
        </b-card-header>
        <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              En Colombia están determinados los siguientes tipos de pensiones: -Pensión por Vejez -Pensión por Invalidez -Pensión por
              Sobrevivencia -Pensión Especial de Vejez Anticipada por Invalidez -Pensión Familiar.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion3 variant="info">¿qué clase de pensiones especiales existen y a quienes benefician?</b-btn>
        </b-card-header>
        <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              Existen diversas pensiones especiales, como las que se reconocen a personas que se desempeñan en actividades consideradas como de alto
              riesgo para la salud, en diversas actividades como por ejemplo: quienes trabajan con rayos X, quienes están sometidos a altas temperaturas
              en socavones, entre otros.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion4 variant="info">¿qué requisitos se necesitan para acceder a la pensión por invalidez?</b-btn>
        </b-card-header>
        <b-collapse id="accordion4" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              Son requisitos para acceder al reconocimiento de una pensión por invalidez, que el afiliado presente una pérdida de su capacidad laboral,
              superior al 50 por ciento y además que ésta pérdida haya sido calificada por la autoridad competente, adicionalmente debe acreditar 50 semanas
              cotizadas dentro de los 3 años anteriores a la fecha de estructuración de invalidez.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion5 variant="info">¿la pensión de invalidez es vitalicia?</b-btn>
        </b-card-header>
        <b-collapse id="accordion5" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              El estado de invalidez se verifica cada dos años y la pensión puede ser retirada en el momento que las causas
              que originaron la invalidez desaparezcan, ésta pensión se convierte en vitalicia cuando la persona cumple los
              requisitos de una pensión para vejez.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion6 variant="info">¿cuáles son los regímenes de pensión existentes en colombia?</b-btn>
        </b-card-header>
        <b-collapse id="accordion6" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              En Colombia existe el Régimen de Prima Media (COLPENSIONES – Anteriormente Seguro Social) y el Régimen de Ahorro Individual
              (Fondos de Pensiones Privados).
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion7 variant="info">¿una persona puede estar afiliada a pensiones obligatorias en los dos regímenes al mismo tiempo?</b-btn>
        </b-card-header>
        <b-collapse id="accordion7" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              NO. La afiliación al Régimen de Prima Media con Prestación Definida (ISS) impide la afiliación al Régimen de Ahorro Individual con Solidaridad (AFP´s) o viceversa,
              aunque el trabajador tenga contrato de trabajo con dos o más patronos.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion8 variant="info">¿cuáles son los requisitos para cambiar del régimen de ahorro individual a prima media?</b-btn>
        </b-card-header>
        <b-collapse id="accordion8" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              Antes de cambiar de un régimen a otro es importante asesorarse y establecer que le conviene más, ya que cada uno cuenta con características diferentes que determinaran el valor de su pensión.
              Para trasladarse entre regímenes, es necesario que hayan transcurrido cinco años desde la última selección. Sin embargo las personas que estén a menos de 10 años de llegar a la edad de pensión,
              no podrán realizar el traslado.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion9 variant="info">¿cuándo se debe suspender el pago a seguridad social (salud y pensión)?</b-btn>
        </b-card-header>
        <b-collapse id="accordion9" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              La obligación de cotizar termina cuando el afiliado cumple los requisitos de edad y tiempo para obtener la pensión de vejez o cuando el
              afiliado se pensione por invalidez.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion10 variant="info">¿podrá un afiliado recibir simultáneamente pensión de vejez y pensión de invalidez?</b-btn>
        </b-card-header>
        <b-collapse id="accordion10" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              No, son excluyentes.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion11 variant="info">¿a partir de qué fechas aumentó el número de semanas a cotizar?</b-btn>
        </b-card-header>
        <b-collapse id="accordion11" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              A partir del 1 de enero de 2005 se incrementaron a 1050 semanas, de 2006 a 2015 se incrementan 25 semanas anualmente y en 2015 se
              requerirán 1300 semanas para pensionarse.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion12 variant="info">¿en qué consiste la pensión familiar y a quiénes beneficia?</b-btn>
        </b-card-header>
        <b-collapse id="accordion12" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              Es una prestación de carácter económico creada por ley, que permite acumular semanas cotizadas entre los cónyuges o compañeros
              permanentes, con el propósito de acreditar el número de semanas exigidas para acceder al reconocimiento de una pensión de vejez.
              Beneficia a los ciudadanos colombianos que cumpliendo las edades de pensión, de manera individual no cumplan con el mínimo de
              cotizaciones en pensión pero que al sumarlas con su cónyuge o compañero, les posibilite acreditar el requisito.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion13 variant="info">Si una persona considera que su pensión le quedó muy baja, y que tiene derecho a una mesada mayor, ¿puede solicitar una reliquidación?</b-btn>
        </b-card-header>
        <b-collapse id="accordion13" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              Existen diferentes formas de liquidar las pensiones, y es obligación de las entidades administradoras reconocer la pensión que le sea mas favorable al trabajador,
              en el evento de existir duda respecto a la liquidación, ya sea porque no se tuvieron en cuenta tiempos, ó porque no se consideró la norma más favorable,
              se puede solicitar la reliquidación de la misma en cualquier tiempo. Es importante tener clara las pretensiones y saber cual es la modalidad de pensión que más
              le puede convenir en aras de no presentar peticiones que al final resulten infructuosas.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-btn block href="#" v-b-toggle.accordion14 variant="info">¿qué diferencia hay entre pensión y jubilación?</b-btn>
        </b-card-header>
        <b-collapse id="accordion14" accordion="my-accordion" role="tabpanel">
          <b-card-body>
            <p class="card-text">
              Durante mucho tiempo se denominó jubilación aquella prestación que el empleador reconocía a sus trabajadores una vez ellos
              cumplían con el tiempo de servicios definido por la ley y una edad mínima, mientras la pensión era aquella prestación que
              reconocía una entidad administradora de pensiones por el tiempo cotizado al sistema de pensiones, hoy las entidades que
              administran pensiones asumieron el pago de esas prestaciones a cargo del empleador y se denominan pensiones de jubilación o
              pensiones de vejez según como las hubiera definido la norma, por ejemplo se habla de pensión de jubilación de ley 33 de 1985
              a aquella prestación que se reconoce a los funcionarios públicos que acreditaron 55 años de edad y 20 años de servicio al Estado.
            </p>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'FAQ',
  data () {
    return {
      msg: 'FAQ'
    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style scoped>
#FAQ {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
</style>
