<template>
  <b-container fluid id="home">
    <br>
    <h4>{{ msg }} <time id="time">{{time}}</time></h4>
    <hr/>
    <section class="bd-content">
      <div>
        <b-carousel id="carousel1"
                    style="text-shadow: 1px 1px 2px #333;"
                    controls
                    indicators
                    background="#17a2b8"
                    :value="4"
                    :interval="6000"
                    img-width="700"
                    img-height="600"
                    v-model="slide"
                    @sliding-start="onSlideStart"
                    @sliding-end="onSlideEnd"
        >

          <b-carousel-slide v-for="(item, index) in images" :key="index"
            style="height: 600px !important;"
          >
            <b-img style="width: 500px !important;" :src="item.img" fluid alt="Fluid image"></b-img>
          </b-carousel-slide>

          <!-- Text slides with image -->
          <b-carousel-slide
                            caption="Contáctanos"
                            text="¿Quieres saber cómo obtener la pensión que deseas?"
                            style="height: 600px !important;"
                            img-src="http://confuturolaboral.com/confuturolaboral/backend/web/img/web1.png"
          ></b-carousel-slide>

          <!-- Slides with custom text -->
          <b-carousel-slide
                            caption="Valoración de daño corporal y mental"
                            text="¿Tienes perjuicios?"
                            style="height: 600px !important;"
                            img-src="http://confuturolaboral.com/confuturolaboral/backend/web/img/web2.png">
            <!-- <h1>Valoración de daño corporal y mental</h1> -->
          </b-carousel-slide>

          <!-- Slides with custom text -->
          <b-carousel-slide
                            caption="Confuturolaboral"
                            text="confuturo"
                            style="height: 600px !important;"
                            >
            <video  width="600" height="600" controls>
              <source src="http://confuturolaboral.com/confuturolaboral/backend/web/media/Confuturo_Laboral_Integral_SAS.mp4" type="video/mp4">
            </video>
          </b-carousel-slide>

        </b-carousel>
      </div>
    </section>
    <hr/>
    <br>
    <h4>{{ msg2 }}</h4>
    <hr>
    <div>
      <b-card-group deck>
        <b-card title="Ubicación"
                header-tag="header"
                footer-tag="footer">
            <h6 slot="header"
                class="mb-0">SEDE MANIZALES</h6>
            <em slot="footer">Manizales Calle 22 No. 23-23 Edificio Concha Lopez of 302-305</em>
            <p class="card-text">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1446.2738926786838!2d-75.51812064982649!3d5.0669838035582035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e476ffa21eaad41%3A0x7f5bbff8be40d53!2sCl.+22+%2323-23%2C+Manizales%2C+Caldas!5e0!3m2!1ses!2sco!4v1537895611062" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </p>
        </b-card>
        <b-card title="Ubicación"
                header-tag="header"
                footer-tag="footer">
            <h6 slot="header"
                class="mb-0">SEDE PEREIRA</h6>
            <em slot="footer">Pereira Calle 19 No. 8-34 Ed Corporación financiera de Occidente Piso 11 No. 11-07</em>
            <p class="card-text">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.746546903777!2d-75.69662238588681!3d4.813524796504495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3887489adac97f%3A0x45e9e9659f290e50!2sCl.+19+%238-34%2C+Pereira%2C+Risaralda!5e0!3m2!1ses!2sco!4v1537895713081" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </p>
        </b-card>
        <b-card title="Ubicación"
                header-tag="header"
                footer-tag="footer">
            <h6 slot="header"
                class="mb-0">SEDE ARMENIA</h6>
            <em slot="footer">Armenia  Calle 19 N 14-17 edificio suramericana oficina 201</em>
            <p class="card-text">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.3352943655905!2d-75.67475578591002!3d4.5335071443485555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38f5add2525a3d%3A0x36143c9cdbd340b2!2sCl.+19+%2314-17%2C+Armenia%2C+Quind%C3%ADo!5e0!3m2!1ses-419!2sco!4v1553302947952" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </p>
        </b-card>
      </b-card-group>
    </div>
</b-container>
</template>

<script>
let arrImgs = [{ img: 'http://confuturolaboral.com/confuturolaboral/backend/web/img/Volante01.jpg' }, { img: 'http://confuturolaboral.com/confuturolaboral/backend/web/img/Volante02.jpg' }]
for (let index = 1; index <= 40; index++) {
  if (index !== 9 && index !== 12 && index !== 12 && index !== 14 && index !== 17 && index !== 19) {
    arrImgs = [...arrImgs, {
      img: 'http://confuturolaboral.com/confuturolaboral/backend/web/img/' + index + '.png'
    }]
  }
}

const items = [
  { isActive: true, age: 40, name: { first: 'Dickerson', last: 'Macdonald' } },
  { isActive: false, age: 21, name: { first: 'Larsen', last: 'Shaw' } },
  {
    isActive: false,
    age: 9,
    name: { first: 'Mini', last: 'Navarro' },
    _rowVariant: 'success'
  },
  { isActive: false, age: 89, name: { first: 'Geneva', last: 'Wilson' } },
  { isActive: true, age: 38, name: { first: 'Jami', last: 'Carney' } },
  { isActive: false, age: 27, name: { first: 'Essie', last: 'Dunlap' } },
  { isActive: true, age: 40, name: { first: 'Thor', last: 'Macdonald' } },
  {
    isActive: true,
    age: 87,
    name: { first: 'Larsen', last: 'Shaw' },
    _cellVariants: { age: 'danger', isActive: 'warning' }
  },
  { isActive: false, age: 26, name: { first: 'Mitzi', last: 'Navarro' } },
  { isActive: false, age: 22, name: { first: 'Genevieve', last: 'Wilson' } },
  { isActive: true, age: 38, name: { first: 'John', last: 'Carney' } },
  { isActive: false, age: 29, name: { first: 'Dick', last: 'Dunlap' } }
]
export default {
  name: 'Home',
  mounted () {
    setTimeout(this.changeTime, 1000)
  },
  data () {
    return {
      center: {
        lat: 5.0668899,
        lng: -75.517604
      },
      markers: [{
        position: {
          lat: 5.0668899,
          lng: -75.517604
        }
      }, {
        position: {
          lat: 4.5335608,
          lng: -75.6713155
        }
      }, {
        position: {
          lat: 4.8135248,
          lng: -75.6944337
        }
      }],
      shape: {
        coords: [10, 10, 10, 15, 15, 15, 15, 10],
        type: 'poly'
      },
      slide: 0,
      sliding: null,
      msg: 'BIENVENIDO A CONFUTUROLABORAL',
      msg2: 'Donde nos encontramos ubicados?',
      items2: [
        { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
        { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
        { age: 89, first_name: 'Geneva', last_name: 'Wilson' }
      ],
      items: items,
      images: arrImgs,
      fields: [
        { key: 'name', label: 'Person Full name', sortable: true, sortDirection: 'desc' },
        { key: 'age', label: 'Person age', sortable: true, 'class': 'text-center' },
        { key: 'isActive', label: 'is Active' },
        { key: 'actions', label: 'Actions' }
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' },
      text: `
        Quis magna Lorem anim amet ipsum do mollit sit cillum voluptate ex nulla
        tempor. Laborum consequat non elit enim exercitation cillum aliqua
        consequat id aliqua. Esse ex consectetur mollit voluptate est in duis
        laboris ad sit ipsum anim Lorem. Incididunt veniam velit elit elit veniam
        Lorem aliqua quis ullamco deserunt sit enim elit aliqua esse irure. Laborum
        nisi sit est tempor laborum mollit labore officia laborum excepteur
        commodo non commodo dolor excepteur commodo. Ipsum fugiat ex est consectetur
        ipsum commodo tempor sunt in proident.
      `,
      dismissSecs: 5,
      dismissCountDown: 0,
      time: ''
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  methods: {
    addZero (n) {
      return (parseInt(n, 10) < 10 ? '0' : '') + n
    },
    changeTime () {
      let today = new Date()
      let hour = today.getHours()
      let min = today.getMinutes()
      let sec = today.getSeconds()
      // Set AM or PM
      const amPm = hour >= 12 ? 'PM' : 'AM'
      const showAmPm = true
      // 12hr Format
      hour = hour % 12 || 12
      this.time = `${hour}:${this.addZero(min)}:${this.addZero(sec)} ${showAmPm ? amPm : ''}`
      setTimeout(this.changeTime, 1000)
    },
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    },
    info (item, index, button) {
      this.modalInfo.title = `Row index: ${index}`
      this.modalInfo.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    countDownChanged (dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert () {
      this.dismissCountDown = this.dismissSecs
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

#home {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
</style>
