<template>
  <b-container fluid id="novedades">
    <br>
    <h4>{{ msg }}</h4>
    <hr>
    <b-row>
      <b-col cols="12">
        <div>
          <b-img src="http://confuturolaboral.com/confuturolaboral/backend/web/img/content_about.jpg" center fluid alt="Responsive image" />
        </div>
        <p><b>Visita a los municipios del Departamento de Risaralda para Jornada de Asesorías Jurídicas.</b></p>

        <p>El día 15 de Julio del presente año, gran parte del equipo humano de CONFUTURO LABORAL INTEGRAL S.A.S. se desplazo a los municipios de Belén de Umbría, Balboa, La Celia, y Apia en el departamento de Risaralda con el fin de brindar asesorías jurídicas al publico en general y con apoyo directo de las Cooperativas de Caficultores de cada uno de estas poblaciones.</p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Novedades',
  data () {
    return {
      msg: 'Novedades'
    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style scoped>
#novedades {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
</style>
