<template>
  <b-container fluid id="pre-inscripcion">
    <br>
    <h4>{{ msg }}</h4>
    <hr>
    <b-card class="text-center">
      Diligencie el siguiente formulario de reserva, y en breve uno de nuestros representantes se pondrá en contacto con usted.
    </b-card>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-row>
        <b-col md="6">
          <b-form-group id="labelprogramacion"
                        label="Programación:"
                        label-for="Programación">
            <b-form-select v-model="form.programacion" :options="form.programaciones" required></b-form-select>
          </b-form-group>
        </b-col>
        <b-row class="mb-1" v-if="loading.estado">
          <b-col>{{loading.titulo}}</b-col>
        </b-row>
      </b-row>
      <b-row>
        <b-col md="6">
          <b-form-group id="labelnombres"
                        label="Nombres:"
                        label-for="nombres">
            <b-form-input id="nombres"
                          type="text"
                          v-model="form.nombres"
                          required
                          placeholder="Ingrese sus nombres">
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group id="labelapellidos"
                        label="Apellidos:"
                        label-for="apellidos">
            <b-form-input id="apellidos"
                          type="text"
                          v-model="form.apellidos"
                          required
                          placeholder="Ingrese sus apellidos">
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="6">
          <b-form-group id="labelcelular"
                        label="Celular:"
                        label-for="celular"
                        description="Ingrese un celular válido para contacto">
            <b-form-input id="celular"
                          type="text"
                          v-model="form.celular"
                          required
                          placeholder="Ingrese su celular">
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col md="6">
          <b-form-group id="labelemail"
                        label="Email:"
                        label-for="email"
                        description="Ingrese un correo electronico valido para respuesta">
            <b-form-input id="email"
                          type="email"
                          v-model="form.email"
                          required
                          placeholder="Ingrese su email">
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <!-- <b-row>
        <b-col md="6">
          <b-form-group id="labelcedula"
                        label="Cédula:"
                        label-for="cedula"
                        description="Ingrese una cédula válido para su identificación">
            <b-form-input id="cedula"
                          type="text"
                          v-model="form.cedula"
                          required
                          placeholder="Ingrese su cédula">
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row> -->
      <b-row>
        <b-col md="6">
          <pre class="mt-3">{{ form.cedula }}</pre>
          <b-button type="submit" variant="primary">Enviar</b-button>
          <b-button type="reset" variant="danger">Resetear</b-button>
        </b-col>
      </b-row>
    </b-form>
    <div v-if="processing">
      <BlockUI :message="msg2" :html="html"></BlockUI>
    </div>
  </b-container>
</template>

<script>
export default {
  name: 'Preinscripcion',
  data () {
    return {
      form: {
        email: '',
        nombres: '',
        apellidos: '',
        celular: '',
        cedula: '',
        programaciones: [{text: 'Seleccione una programación', value: null}],
        programacion: 0
      },
      msg: '¿Formulario de Reserva?',
      text: '',
      show: true,
      processing: false,
      msg2: 'Procesando petición, esperar un momento...',
      html: '<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>',
      token: 'nVqN9TfnY62MjXJOw19vm2Gf__i6gPMl',
      loading: {
        titulo: '',
        estado: false
      },
      activa: 1
    }
  },
  mounted () {
    console.log('Componente app is monted')
    const idProgramacion = (this.$route.params.id === undefined || this.$route.params.id === null) ? 0 : this.$route.params.id
    console.log(idProgramacion)
    this.getConferencias2()
  },
  computed: {

  },
  methods: {
    async getConferencias2 () {
      this.loading.titulo = 'Cargando...'
      this.loading.estado = true
      try {
        let conferencias = await window.axios.get(`http://www.confuturolaboral.com/confuturolaboral/api/web/v1/programacions/search?access-token=${this.token}&activa=${this.activa}`)
        if (!conferencias.data) {
          console.error('Undefined')
        }
        console.log('conferencias data', conferencias.data.data)
        for (let index = 0; index < conferencias.data.data.length; index++) {
          const element = conferencias.data.data[index]
          console.log('Element', element)
          this.form.programaciones = [...this.form.programaciones, {text: element.titulo, value: element.id}]
        }
        console.log('conferencias', this.form.programaciones)
        const idProgramacion = (this.$route.params.id === undefined || this.$route.params.id === null) ? 0 : this.$route.params.id
        this.form.programacion = idProgramacion
      } catch (error) {
        console.log(error)
      } finally {
        this.loading.titulo = ''
        this.loading.estado = false
      }
    },
    onSubmit (evt) {
      evt.preventDefault()
      // var form = JSON.stringify(this.form)
      // console.log(this.form.nombres + ' ' + this.form.apellidos)
      this.processing = true
      window.localStorage.setItem('_processing', this.processing)
      window.axios.post(`http://www.confuturolaboral.com/confuturolaboral/api/web/v1/preinscripcions/create?access-token=${this.token}`, {
        programacion: this.form.programacion,
        nombres: this.form.nombres,
        apellidos: this.form.apellidos,
        email: this.form.email,
        celular: this.form.celular
      }).then(resultado => {
        window.toastr.success('Pre-Inscripción Realizada Satisfactoriamente', 'PRE-INSCRIPCIÓN')
      }).catch(error => {
        console.log(error)
        window.toastr.error('Error al realizar la pre-inscripción', 'PRE-INSCRIPCIÓN')
      }).then(e => {
        this.processing = false
        window.localStorage.setItem('_processing', this.processing)
      })
    },
    onReset (evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.email = ''
      this.form.nombres = ''
      this.form.apellidos = ''
      this.form.celular = ''
      this.form.cedula = ''
      this.show = false
      this.$nextTick(() => { this.show = true })
    }
  }
}
</script>

<style scope>
#pre-inscripcion {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
</style>
