<template>
  <b-container fluid id="proceso">
    <br>
    <h4>{{ msg }}</h4>
    <hr>
    <div role="group">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-row>
          <b-col md="6">
            <label for="inputLive">Número:</label>
            <b-form-input id="inputLive"
                          v-model.trim="form.cedula"
                          type="text"
                          :state="nameState"
                          aria-describedby="inputLiveHelp inputLiveFeedback"
                          placeholder="Ingrese su número de cédula"></b-form-input>
            <b-form-invalid-feedback id="inputLiveFeedback">
              <!-- This will only be shown if the preceeding input has an invalid state -->
              Ingrese al menos seis digitos
            </b-form-invalid-feedback>
            <b-form-text id="inputLiveHelp">
              <!-- this is a form text block (formerly known as help block) -->
              Su número de cédula completa.
            </b-form-text>
          </b-col>
        </b-row>
        <b-row>
          <b-col md="6">
            <pre class="mt-3">Cédula Ingresada: {{ form.cedula }}</pre>
            <b-button type="submit" variant="primary">Consultar</b-button>
            <b-button type="reset" variant="danger">Resetear</b-button>
          </b-col>
        </b-row>
      </b-form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </b-container>
</template>

<script>
export default {
  name: 'Proceso',
  data () {
    return {
      form: {
        cedula: ''
      },
      msg: 'Proceso',
      cedula: '',
      show: true
    }
  },
  computed: {
    nameState () {
      return this.form.cedula.length >= 6 ? 'true' : false
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
    },
    onReset (evt) {
      evt.preventDefault()
      this.form.cedula = ''
      this.show = false
      this.$nextTick(() => { this.show = true })
    }
  }
}
</script>

<style scoped>
#proceso {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
</style>
