<template>
  <b-container fluid id="productos">
    <br>
    <h4>{{ msg }}</h4>
    <hr>
    <b-row>
      <b-col cols="3">
        <b-list-group v-b-scrollspy:listgroup-ex>
          <b-list-group-item href="#list-item-1"><font-awesome-icon icon="dot-circle" /> Pensión de invalidez</b-list-group-item>
          <b-list-group-item href="#list-item-2"><font-awesome-icon icon="dot-circle" /> Pérdida de capacidad laboral</b-list-group-item>
          <b-list-group-item href="#list-item-3"><font-awesome-icon icon="dot-circle" /> Indemnización por enfermedad laboral</b-list-group-item>
          <b-list-group-item href="#list-item-4"><font-awesome-icon icon="dot-circle" /> Condonación de deudas</b-list-group-item>
          <b-list-group-item href="#list-item-5"><font-awesome-icon icon="dot-circle" /> Indemización por SOAT</b-list-group-item>
          <b-list-group-item href="#list-item-6"><font-awesome-icon icon="dot-circle" /> Reducción de pagos de impuestos</b-list-group-item>
          <b-list-group-item href="#list-item-7"><font-awesome-icon icon="dot-circle" /> Indemnización por accidente de tránsito - RCE</b-list-group-item>
          <b-list-group-item href="#list-item-8"><font-awesome-icon icon="dot-circle" /> Reducción gastos administrativos</b-list-group-item>
          <b-list-group-item href="#list-item-9"><font-awesome-icon icon="dot-circle" /> Otros servicios</b-list-group-item>
        </b-list-group>
      </b-col>
      <b-col cols="9">
        <div id="listgroup-ex" style="position:relative;overflow-y:auto;height:400px">
          <h4 id="list-item-1">Pensión de invalidez</h4>
          <p>
            Si usted tiene una enfermedad crónica, degenerativa y/o congénita o varias enfermedades o tuvo un accidente que no le permite trabajar, las secuelas que le han generado le pueden otorgar una pensión de invalidez para toda su vida, con la posibilidad de obtener un dinero adicional por retroactividad de la pensión.
            CONFUTURO LABORAL INTEGRAL S.A.S le asesorará y le acompañará en todo el proceso de obtención de su pensión por invalidez, desde la solicitud inicial hasta la obtención real y efectiva de la pensión.
            Recuerde que para ello es importante conocer su caso a profundidad, por lo cual lo invitamos a que nos permita analizar las enfermedades y secuelas que le aquejan y el grado de discapacidad que le producen.
            Para nosotros es un placer ayudarle, el primer paso es conocernos.
          </p>
          <h4 id="list-item-2">Pérdida de capacidad laboral</h4>
          <p>
            Si usted es una persona interesada en saber su Calificación, real y cierta de su pérdida de capacidad laboral (PCL) para cualquier tipo de reclamación LABORAL, CIVIL y/o PENAL, acorde con los daños físicos y psicológicos sufridos por accidente o enfermedad CONFUTURO LABORAL INTEGRAL S.A.S pone a su disposición un
            pool de médicos especialistas con experiencia en Juntas de Calificación de Invalidez y Abogados especialistas en Seguridad Social Integral, Seguridad y Salud en el Trabajo y con una amplia trayectoria en el Derecho Laboral, para que usted tenga completa certeza de su PCL y al mismo tiempo este tranquilo(a) con un
            excelente acompañamiento jurídico.

            Si usted es Abogado, CONFUTURO LABORAL INTEGRAL S.A.S pone a su disposición un pool de médicos especialistas con experiencia en Juntas de Calificación de Invalidez para que usted tenga completa certeza de la PCL y la reclamación de resarcimiento de daño corporal y material acompañado con pruebas idóneas como PCL y
            calculo actuarial, que le indicará a cuento asciende el valor de los perjuicios que reclama por su cliente.
          </p>
          <h4 id="list-item-3">Indemización por enfermedad laboral</h4>
          <p>
            Si usted sufrió un accidente de trabajo o una enfermedad laboral, tiene derecho a una indemnización en caso de presentar perturbaciones funcionales, estas le pueden otorgar una indemnización y/o una pensión por Invalidez. Asegúrese que su indemnización sea justa y acorde con los daños físicos y psicológicos que
            usted tiene.

            <b>CONFUTURO LABORAL INTEGRAL S.A.S</b> le asesorará y le acompañará en todo el proceso de obtención de su indemnización, desde la solicitud inicial hasta la obtención real y efectiva del monto otorgado por el Sistema General de Riesgos Laborales.
          </p>
          <h4 id="list-item-4">Condonación de deudas</h4>
          <p>
            <b>CONFUTURO LABORAL INTEGRAL S.A.S</b> le asesorará y le acompañará en todo el proceso de perdón (condonación) de la totalidad de sus deudas, incluyendo tarjetas de crédito, desde la solicitud inicial ante la entidad financiera (banco, cooperativa, aseguradora, entre otras), hasta la eliminación real y efectiva de
            su obligación crediticia. Recuerde que para ello es importante conocer su caso a profundidad, por lo cual lo invitamos a que nos permita analizar las enfermedades y secuelas que le aquejan y el grado de discapacidad que le producen.
          </p>
          <h4 id="list-item-5">Indemnización por SOAT</h4>
          <p>
            Si usted tuvo un accidente de tránsito y quedó con secuelas permanentes, tiene derecho a una indemnización económica por parte del SOAT.
            Usted puede beneficiarse de la indemnización que el SOAT (Seguro Obligatorio para Accidentes de Tránsito) tiene para aquellas personas que han sufrido un accidente en condición de conductor, copiloto o peatón, en caso que este accidente le haya dejado algún tipo de secuelas permanentes de cualquier tipo.
            Para nosotros es un placer ayudarle, el primer paso es conocernos.
          </p>
          <h4 id="list-item-6">Reducción de pagos de impuestos</h4>
          <p>
            Si uno o varios de sus trabajadores tienen una condición de discapacidad de nacimiento o adquirida en algún momento de su vida, y usted lo tiene contratado en su empresa, CONFUTURO LABORAL INTEGRAL S.A.S pone a su disposición profesionales idóneos con la experticia requerida en las ramas del Derecho, Medicina y
            Contaduría para guiarlo en la obtención de todos los beneficios tributarios que esto le generará a su empresa.

            Para nosotros es un placer ayudarle, el primer paso es conocernos.
          </p>
          <h4 id="list-item-7">Indemnización por accidente de tránsito - RCE</h4>
          <p>
            Si usted sufrió un accidente de tránsito y quedo con lesiones y secuelas permanentes tiene derecho a reclamar la indemnización de los seguros contra terceros que se encuentran adscritos al vehículo involucrado, empresa trasportadora o persona natural.

            Para nosotros es un placer ayudarle, el primer paso es conocernos.
          </p>
          <h4 id="list-item-8">Reducción gastos administrativos</h4>
          <p>
            Si su empresa se está viendo afectada productivamente causado por el ausentismos, por incapacidades médicas, disminuciones de la capacidad laboral por enfermedad común, accidentes laborales y/o enfermedad laboral, <b>CONFUTURO LABORAL INTEGRAL S.A.S CONFUTURO LABORAL INTEGRAL S.A.S</b>
            pone a su disposición un pool de médicos especialistas con experiencia en Juntas de Calificación de Invalidez y Abogados especialistas en Seguridad Social Integral, seguridad y salud en el trabajo, con una amplia trayectoria en el Derecho Laboral, para que tenga completa certeza de la PCL y al mismo tiempo este
            tranquilo(a) con un excelente acompañamiento jurídico, alcanzando los derechos prestacionales a reclamar, procurando gastos adicionales por indemnizaciones como fuero de la estabilidad reforzada, indemnización por despido sin justa causa, indemnización por el mayor prejuicioso probable y culpa patronal, de esta
            manera permitiendo al empresario resolver con celeridad y obteniendo mejor solución para las partes.
          </p>
          <h4 id="list-item-9">Otros servicios</h4>
          <p>
            <b>En el RPM</b>
            <ul>
              <li>Pensión por vejez</li>
              <li>Pensión por sobrevivencia</li>
              <li>Indemnización Sustitutiva de vejez</li>
              <li>Pensión por vejez anticipada por discapacidad.</li>
              <li>Pensión de vejez anticipada por hijo discapacitado</li>
              <li>Pensión Familiar</li>
              <li>Y diferentes reclamaciones con base a la jurisprudencia.</li>
            </ul>
            <b>En RAIS</b>
            <ul>
              <li>Reliquidación de Bonos pensionales</li>
              <li>Solicitud de devolución de aportes</li>
            </ul>
          </p>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'Productos',
  data () {
    return {
      msg: 'Productos'
    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style scoped>
#productos {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
</style>
