<template>
  <div id="app">
    <b-navbar id="app_nav_bar" toggleable="md" type="dark">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <router-link tag="a" class="navbar-brand" to="/">
        Inicio
      </router-link>

      <b-collapse is-nav id="nav_collapse">

        <b-navbar-nav>
          <router-link tag="li" class="nav-item" to="/acerca-de">
            <a class="nav-link">Acerca de...</a>
          </router-link>
          <router-link tag="li" class="nav-item" to="/productos">
            <a class="nav-link">Productos</a>
          </router-link>
          <router-link tag="li" class="nav-item" to="/novedades">
            <a class="nav-link">Novedades</a>
          </router-link>
          <router-link tag="li" class="nav-item" to="/FAQ">
            <a class="nav-link">FAQ</a>
          </router-link>
          <router-link tag="li" class="nav-item" to="/contacto">
            <a class="nav-link">Contacto</a>
          </router-link>
          <router-link tag="li" class="nav-item" to="/proceso">
            <a class="nav-link">Proceso</a>
          </router-link>
          <router-link tag="li" class="nav-item" to="/pre-inscripcion">
            <a class="nav-link">PRE-INSCRIPCIÓN</a>
          </router-link>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

          <b-nav-item-dropdown right>
            <!-- Using button-content slot -->
            <template slot="button-content">
              <em>Ingresar</em>
            </template>
            <b-dropdown-item href="http://www.confuturolaboral.com/confuturolaboral/backend/web/site/index" target="_blank">Login</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
    <router-view/>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="top: 700px;">
      <b-navbar toggleable="md" type="dark" variant="dark" fixed="bottom" sticky="true">

        <b-card bg-variant="dark"
            title="<span style='color: #FF9900;'>confuturolaboral</span>"
            sub-title="Nuestro compromiso es con usted."
            text-variant="white"
            class="text-center"
            style="width: 100% !important; min-width: 100% !important; max-width: 100% !important;">
          <p class="card-text">
            <b-row>
              <b-col md="4">
                  <span style="color: #FF9900;">SÚMATE A NOSOTROS EN</span>
                <b-container fluid class="p-4 bg-dark">
                  <b-row>
                    <b-col>
                      <b-link href="https://web.facebook.com/ConfuturoLaboral/?hc_ref=ARTaYBPi0LrC31kETCzgpJOFfSgzy1dZsAvCH_W_UXZhaSeOhwwL4NQBLsEjNbzLJas&fref=nf&__tn__=kC-R&_rdc=1&_rdr" class="card-link" target="_blank">
                        <b-img width="35" height="35" fluid src="http://confuturolaboral.com/confuturolaboral/backend/web/img/facebook-copia.png" title="Confuturo Laboral - Facebook" />
                      </b-link>
                    </b-col>
                    <b-col>
                      <b-link href="https://www.instagram.com/confuturolaboral/" class="card-link" target="_blank">
                        <b-img width="35" height="35" fluid src="http://confuturolaboral.com/confuturolaboral/backend/web/img/instagram2.png" title="Confuturo Laboral - Instagram" />
                      </b-link>
                    </b-col>
                  </b-row>
                </b-container>
              </b-col>
              <b-col md="4">
                Confuturo Laboral Integral & Asociados S.A.S.<br>
                Manizales, Cll. 22 # 23 - 23<br>
                Ed. Concha López Of. 305, 306<br>
                <b>Linea Nacional: 01 8000 413881</b><br>
                <b-badge pill variant="secondary">Celular: 3155630707 * 3104961093</b-badge>
              </b-col>
              <b-col md="4">
                <span style="color: #FF9900;">FAQ</span>
                <router-link tag="a" class="card-link" to="/acerca-de">
                  <a class="nav-link">Nosotros</a>
                </router-link>
                <hr>
                <router-link tag="a" class="card-link" to="/proceso">
                  <a class="nav-link">Consulte su proceso</a>
                </router-link>
              </b-col>
            </b-row>
          </p>
          <p class="card-text">
            Resolución No. 72434 del 09 / Octubre / 2013 - Servicios Seguridad y Salud en el Trabajo / SG-SST - DIRECCIÓN TERRITORIAL DE SALUD DE CALDAS
          </p>
        </b-card>

      </b-navbar>
    </div>

    <div>
      <b-modal
        v-model="show"
        title="Conferencias"
        :header-bg-variant="headerBgVariant"
        :header-text-variant="headerTextVariant"
        :body-bg-variant="bodyBgVariant"
        :body-text-variant="bodyTextVariant"
        :footer-bg-variant="footerBgVariant"
        :footer-text-variant="footerTextVariant"
        size="lg"
      >
        <b-container fluid>
          <b-row class="mb-1 text-center">
            <b-col>Programaciones</b-col>
          </b-row>

          <b-row class="mb-1" v-if="loading.estado">
            <b-col>{{loading.titulo}}</b-col>
          </b-row>

          <b-row class="mb-1" v-for="(item, index) in programaciones.data" :key="index">
            <b-col>
              <div class="d-block text-center">
                <h4>{{ item.titulo }} - {{ item.fecha }} </h4>
              </div>
              <hr>
              <div class="d-block" v-for="(item2, index2) in item.preguntas" :key="index2">
                {{ item2.pregunta }}
                <hr>
              </div>
              <router-link tag="a" class="card-link" :to="{ name: 'Preinscripcion', params: { id: item.id } }">
                <b-button class="mt-3" variant="outline-danger" block @click="show=false">Reserva</b-button>
              </router-link>
            </b-col>
          </b-row>

          <b-row class="mb-1">
            <b-col>
              <div class="d-block text-center">
                <h4>Señor empleador y/o trabajador independiente</h4>
              </div>
              <div class="d-block text-center">
                <h3>¡PREVENGA Y AHORRE!</h3>
              </div>
              <div class="d-block text-center">
                <h6>Estas y otras preguntas serán resueltas en el CICLO DE CONFERENCIAS que se realizará los días 23 de octubre y 13 de noviembre de 2019 en el Teatro Fundadores de Manizales  </h6>
              </div>
            </b-col>
          </b-row>
        </b-container>

        <div slot="modal-footer" class="w-100">
          <p class="float-left">
            Conferencias Vigentes
          </p>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="show=false"
          >
            Cerrar
          </b-button>
        </div>
      </b-modal>
    </div>

  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      msg: 'Procesando petición, esperar un momento...',
      html: '<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>',
      show: true,
      variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
      headerBgVariant: 'dark',
      headerTextVariant: 'light',
      bodyBgVariant: 'light',
      bodyTextVariant: 'dark',
      footerBgVariant: 'warning',
      footerTextVariant: 'dark',
      token: 'nVqN9TfnY62MjXJOw19vm2Gf__i6gPMl',
      programaciones: [],
      loading: {
        titulo: '',
        estado: false
      },
      activa: 1
    }
  },
  mounted () {
    console.log('Componente app is monted')
    this.getConferencias()
  },
  computed: {
    processing: function () {
      return window.localStorage.getItem('_processing')
    }
  },
  methods: {
    async getConferencias () {
      this.loading.titulo = 'Cargando...'
      this.loading.estado = true
      try {
        let programaciones = await window.axios.get(`http://www.confuturolaboral.com/confuturolaboral/api/web/v1/programacions/search?access-token=${this.token}&activa=${this.activa}`)
        if (!programaciones.data) {
          console.error('Undefined')
        }
        this.programaciones = programaciones.data
        console.log('programaciones', this.programaciones)
      } catch (error) {
        console.log(error)
      } finally {
        this.loading.titulo = ''
        this.loading.estado = false
      }
    }
  }
}
</script>

<style scope>
#app {
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
  color: #2c3e50;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#app_nav_bar {
  background-color: #388e3c !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
</style>
